<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada ({{email}})</p>

<p>Para recuperar utilize o token {{token}} ou use o link</p>

<a href="{{link}}">Criar nova senha</a>
